

.container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
}

.header {
  background-color: darkblue;
  padding: 5px;
  color: white;
  font-size: 40px;
  text-align: center;

}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 385px;
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 5px 15px;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
}
